@import "~bulma/bulma.sass";

.has-bg-img::before {
  content: "";
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-image: url("/static/hero-background.jpg");
  background-size: cover;
  filter: blur(10px) grayscale(100%) opacity(30%);
  overflow: hidden;

  @include mobile {
    height: 75vh;
  }
}

.has-bg-img {
  background-color: rgb(255, 255, 255);
}
